html
  head
    title= title
    script(src='leaflet/leaflet.js')
    link(rel='stylesheet',href='leaflet/leaflet.css')
    script(src='scripts/main.js')
    link(rel='stylesheet',href='styles/main.css')
  body
    #map
